:root {
  --color-black: #191a23;
  --color-white: #ffffff;
  --color-accent: #a95eba;
  --color-accent-alt: #eb8ed7;
  --color-accent-trans40: #a05eba99;

  --font-family-base: "Montserrat Alternates", sans-serif;

  --container-width: 1216px;
  --container-padding-x: 30px;
  --button-height: 53px;

  --transition-duration: 0.8s;
  --transition-duration-fast: 0.3s;

  --scale: scale(1.15);

}
